.wrap {
  border: 1px dashed #ccc;
  border-radius: 2px;
  padding: 40px 24px;
  overflow: hidden;
}

.box-warp {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

.box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: pink;
  display: inline-block;
  border-radius: 2px;
}

.box + .box {
  margin-left: 12px;
}

.button-wrap {
  height: 50px;
}

.blank {
  height: 400px;
}

.box222 {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 4px dashed rgb(251, 97, 97);
  box-shadow: rgb(97, 251, 246) 0 0 0 6px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  z-index: 100000;
}
